$color1:#e0aaff;
$color2:#c77dff;
$color3:#9d4edd;
$color4:#7b2cbf;
$color5:#5A189A;
$color6:#3c096c;
$color7:#240046;
$color8:#10002B;
$color_black:#101010;
$color_white:#ffffff;

$colorp:#7b2cbf;
$colors:rgb(58, 80, 201)
