@import 'elementos';
@import 'colors';


header{
    @include navigation;
}

body{
    background-color: #050505;
}

.menu_canva{
    @include menu-canva;
}


.contenedor-principal{
    @include contenedor-principal;
}

.contenedor{
    background-color: #101010;
    div{
        h1{
            color: #ffffff;
            font-size: 24px;
            margin-top: 25px;
            margin-left: 20vw;
            margin-right: 20vw;
            @include imagen-scroll-i;
        }
        p{
            color: #cccccc;
            font-size: 18px;
            margin-left: 20vw;
            margin-right: 20vw;
            text-align: justify;
            @include imagen-scroll-d;
        }
    }
}

.contenedor__caja1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-left: 20vw;
    margin-right: 20vw;
    .contenedor__caja1__card1{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 60vh;
        box-shadow: inset 0px 0px 25px #000;
        padding: 20px;
        img{
            width: 100%;
            height: 40%;
            object-fit: cover;
            @include imagen-scroll-d;
            border-radius: 5px;
        }
        h1{
            font-size: 28px;
            width: 100%;
        }
        p{
            width: 100%;
            font-size: 16px;
            height: 200px;
            overflow: hidden;
        }
    }
    .contenedor__caja1__card2{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 60vh;
        box-shadow: inset 0px 0px 25px #000;
        padding: 20px;
        img{
            width: 100%;
            height: 40%;
            object-fit: cover;
            @include imagen-scroll-d;
            border-radius: 5px;
        }
        h1{
            font-size: 28px;
            width: 100%;
        }
        p{
            width: 100%;
            height: 200px;
            overflow: hidden;
        }
        
    }
    .contenedor__caja1__card3{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 60vh;
        box-shadow: inset 0px 0px 25px #000;
        padding: 20px;
        img{
            width: 100%;
            height: 40%;
            object-fit: cover;
            @include imagen-scroll-d;
            border-radius: 5px;
        }
        h1{
            font-size: 28px;
            width: 100%;
        }
        p{
            width: 100%;
            height: 200px;
            overflow: hidden;
        }
        
    }
}


footer{
    @include footer;
}

@media screen and (max-width: 768px){
    .contenedor-principal{
        h1{
            font-size: 64px;
        }
    }
    .contenedor{
        div{
            h1{
                font-size: 24px;
                margin-top: 25px;
                margin-left: 5vw;
                margin-right: 5vw;
            }
            p{
                font-size: 18px;
                margin-left: 5vw;
                margin-right: 5vw;
            }
        }
    }
    .contenedor__caja1{
        flex-flow: column nowrap;
        margin-left: 5vw;
        margin-right: 5vw;
        align-items: center;
        div{
            margin-top: 15px;
        }
    }
}