@import 'colors';
@import 'elementos';




header{
    @include navigation;
}

.contenedor-principal{
    @include contenedor-principal;
}

.contenedor-principal{
    background-color: $color_black;
}

.denominacion{
    background-color: $color_black;
   
}

p{
    color: $color_white;
}
.Creacion-de-cuerpos-celestes{
    background-color: $color_black;
    display: flex;
    justify-content: center;
}

.Creacion-de-cuerpos-celestes-img{
    display: flex;
    justify-content: center;
}

.Planetas-y-estrellas{
    background-color: $color_black;

}

.ciclos{
    background-color: $color_black;
}
.Fenomenos{
    background-color: $color_black;
    
}

#Fenomenos__img{
    background-color: $color_black;
    display: flex;
    justify-content: center;
    
}


.Agujeros-negros{
    
    background-color: $color_black;
    margin-top: 5%;
}
h2{
    color: $color_white;
}

h3{
    color: $color_white;
}

/*cambiar colores(CARDS)   y demas cosas */
.cartas-principales {
    border: 4px solid $color6;
    background-color:$color_black;
    @include imagen-scroll-a;
    margin-bottom: 20px;
    margin-top: 40px;
    
    background-color: $color_black;
    border-radius: 100px;
    transition-duration: 250ms;
    border-radius: 0px;
    box-shadow: 15px 15px 25px 0px rgba(114, 62, 138, 0.021);
    transition-duration: 200ms;
    transform: rotateX(-5deg) rotateY(30deg);
    
    img{
        width: 100%;
        height: 250px;
        border-radius: 0px;
        filter: saturate(200%) grayscale(20%);
        box-shadow: 5px 5px 25px 0px rgba(153, 140, 140, 0);
        object-fit: cover;
        transition-duration: 230ms;
        user-select: none;
    }

    &:hover{
        background-color: $color_black;
        border: 3px solid $color3;
        
        transform: rotateX(0deg) rotateY(0deg);
        box-shadow: 15px 15px 25px 0px rgba(0,0,0,0);
        img{
            filter: saturate(200%) grayscale(0%);
            box-shadow: 5px 5px 25px 0px rgba(0,0,0,0);
        }
        h5{
            text-shadow: 5px 5px 10px rgba(0,0,0,0);
            color: $colors;
        }
        p{
            text-shadow: 5px 5px 10px  rgba(65, 57, 57, 0);
            color: $colorp;
        }
    }
    h5{
        transition-duration: 2000ms;
        text-shadow: 5px 5px 10px rgba(148, 138, 138, 0);
        user-select: none;
    }
    p{
        transition-duration: 2000ms;
        user-select: none;
        text-shadow: 5px 5px 10px  rgba(86, 41, 107, 0.219);
    }
    
}

#carrusel-agujeros{
    display: flex;
    width: 80vw;
    height: 70vh;

}
.Agujeros-negros{
    display: flex;
    justify-content: center;

}