@import 'elementos';
@import 'colors';


header{
    @include navigation;
}

body{
    background-color: #050505;
}

.menu_canva{
    @include menu-canva;
}


.contenedor-principal{
    @include contenedor-principal;
}

.contenedor{
    background-color: #101010;
    p{
        color: #ffffff;
        font-size: 18px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 20vw;
        margin-right: 20vw;
        text-align: justify;
        @include imagen-scroll-d;
    }
}


footer{
    @include footer;
}