@import 'colors';
@import 'elementos';

header{
    @include navigation;
}

.contenedor-principal{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    img{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        filter: saturate(200%);
    }
    /* TITULO PRINCIPAL */
    h1{
        font-size: 128px;
        position: absolute;
        color: $color_white;
    }
}