@import 'colors';
@import 'elementos';

header{
    @include navigation;
}


.contenedor-principal{
    @include contenedor-principal;
}

.contenedor{
    height: 100%;
    width: 100%;
    background-color: #101010;

    .contenedor__caja1{
        background-color: #101010;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        animation-name: mostrar;
        height: 100vh;
        img{
            border-radius: 20px;
            filter: saturate(500%);
        }
        h1{
            color: $color_white;
            font-size: 48px;
        }
        p{
            color: #ccc;
            text-align: justify;
            margin-left: 30px;
            margin-right: 30px;
        }
        div{
            position: relative;
            @include card;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            transition-duration: 500ms;
            img{
                transition-duration: 500ms;
                filter: grayscale(100%);
                width: 100%;
                height: 100%;
            }
            h1{
                transition-duration: 500ms;
            }
            p{
                transition-duration: 500ms;
            }
            &:hover img{
                filter: grayscale(0%) saturate(110%);
                border: 1.5px solid #ffffff96;
                transform: scale(110%) translateY(60px);
            }
            &:hover p{
                transform: scale(110%) translateY(25px);
            }
            &:hover h1{
                transform: scale(110%);
            }

        }
        #contenedor__caja1_card1{
            @include imagen-scroll-i;
            &:hover{
                background-color:$colorp;
                border: 1.5px solid #ffffff96;
                box-shadow: 0px 0px 50px $color4;
            }
            &:hover h1{
            }
            &:hover p{
            }
            &:hover img{
                box-shadow: 0px 0px 25px $color7;
            }
        }
        #contenedor__caja1_card2{
            @include imagen-scroll-d;
            &:hover{
                background-color:$colors;
                border: 1.5px solid #ffffff96;
                box-shadow: 0px 0px 50px #485fdf;
            }
            &:hover h1{
            }
            &:hover p{
            }
            &:hover img{
                box-shadow: 0px 0px 25px #192981;
            }
        }
        
        
    }
    .contenedor__caja2{
        margin-top: 150px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        @include imagen-scroll-i;
        height: 100vh;
        background-color: #ffffff00;
        
        img{
            width: 100%;
            height: 100%;
            opacity: 1;
            filter: saturate(125%);
            object-fit: contain;
            background: rgb(100,124,210);
            background: radial-gradient(circle, #8f42d1 0%, rgba(16,16,16,1) 65%);
        }

.timeline {
	h1 {
		font-weight: 300;
		font-size: 1.4em;
	}
	h2 {
		font-weight: 600;
		font-size: 1rem;
		margin-bottom: 10px;
	}
	h3 {
		font-weight: 600;
		font-size: 1rem;
		margin-bottom: 10px;
	}
	.event {
		border-bottom: 1px dashed #e8ebf1;
		padding-bottom: 25px;
		margin-bottom: 25px;
		position: relative;
		&:last-of-type {
			padding-bottom: 0;
			margin-bottom: 0;
			border: none;
		}
		&:before {
			position: absolute;
			display: block;
			top: 0;
			left: -207px;
			content: attr(data-date);
			text-align: right;
			font-weight: 100;
			font-size: 0.9em;
			min-width: 120px;
		}
		&:after {
			position: absolute;
			display: block;
			top: 0;
			-webkit-box-shadow: 0 0 0 3px #727cf5;
			box-shadow: 0 0 0 3px #727cf5;
			left: -55.8px;
			background: #fff;
			border-radius: 50%;
			height: 9px;
			width: 9px;
			content: "";
			top: 5px;
		}
	}
}
.rtl {
	.timeline {
		border-left: 0;
		text-align: right;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 4px;
		border-top-left-radius: 4px;
		border-right: 3px solid #727cf5;
		.event {
			&::before {
				left: 0;
				right: -170px;
			}
			&::after {
				left: 0;
				right: -55.8px;
			}
		}
	}
}
@media (max-width: 767px) {
	.timeline {
		.event {
			padding-top: 30px;
			&:before {
				left: 0px;
				text-align: left;
			}
			&:after {
				left: -31.8px;
			}
		}
	}
}

        
    }

    .contenedor__caja3{
        background-color: #101010;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        animation-name: mostrar;
        height: 100vh;
        h1{
            margin-top: 15px;
            color: $color_white;
            font-size: 48px;
        }
        p{
            margin-top: 25px;
            color: #ccc;
            text-align: justify;
            margin-left: 30px;
            margin-right: 30px;
        }
        div{
            @include imagen-scroll;
            position: relative;
            @include card;
            width: 85vw;
            height: 60vh;
            display: flex;
            flex-flow: column nowrap;
            justify-content: stretch;
            transition-duration: 500ms;
            p{
                font-size: 18px;
                transition-duration: 300ms;
            }
            h1{
                transition-duration: 300ms;
            }
            &:hover{
                background-color:$colors;
                border: 1.5px solid #ffffff96;
                box-shadow: 0px 0px 50px #485fdf;
            }
            &:hover h1{
                transform: scale(105%);
            }
            &:hover p{
                transform: scale(105%);
            }
            &:hover img{
                box-shadow: 0px 0px 25px #192981;
            }
        }
    }
}

footer{
    @include footer;
}