@import 'elementos';
@import 'colors';


header{
    @include navigation;
}

body{
    background-image: url(../assets/images/space-background.jpg);
}

.contenedor-principal{
    margin: 0;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-principal__planetas{
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}

.sol {
    img{
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    position: absolute;
    top: 20em;
    left: 15em;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: 0 0 3em 1.5em rgb(255, 115, 0);
}


.tierra, .luna, .mercurio, .venus {
    position: absolute;
    border-style: solid;
    border-color: #454545;
    border-width: 0.1em 0.1em 0.1em 0.1em;
    border-radius: 50%;
    &::before {
        position: absolute;
        border-radius: 50%;
    }
}

.mercurio {
    top: 15em;
    left: 10em;
    width: 20em;
    height: 20em;
    animation: orbit 29.3s linear infinite;
    &::before {
        top: 1.8em;
        right: 1.8em;
        width: 2em;
        height: 2em;
        background: linear-gradient(red, orange);
    }
}

.venus {
    top: 10em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 75s linear infinite;
    &::before {
        top: 2.8em;
        right: 2.8em;
        width: 3em;
        height: 3em;
        background: linear-gradient(cyan, blue);
    }
}

.tierra {
    top: -5em;
    left: -10em;
    width: 60em;
    height: 60em;
    animation: orbit 121.6s linear infinite;
    &::before {
        top: 7.2em;
        right: 7.2em;
        width: 3em;
        height: 3em;
        background: linear-gradient(cyan, blue);
    }
}

.luna {
    top: 4.5em;
    right: 4.5em;
    width: 9em;
    height: 9em;
    animation: orbit 20s linear infinite;
    
    &::before {
        top: 0.8em;
        right: 0.2em;
        width: 1.2em;
        height: 1.2em;
        background-color: silver;
    }
}


@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}
