@import 'elementos';
@import 'colors';


header{
    @include navigation;
}

body{
    background-color: #151515;
}

.contenedor-principal{
    margin: 0;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-principal__planetas{
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: absolute;
}

.sol {
    img{
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }
    position: absolute;
    top: 20em;
    left: 15em;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: 0 0 3em 1.5em rgb(255, 115, 0);
}


.mercurio, .venus, .tierra, .luna, .marte, .jupiter, .saturno, .urano, .neptuno, .aros {
    position: absolute;
    border-style: solid;
    border-color: #454545;
    border-width: 0.1em 0.1em 0.1em 0.1em;
    border-radius: 50%;
    img{
        position: absolute;
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }
}

.mercurio {
    top: 12.5em;
    left: 7.5em;
    width: 25em;
    height: 25em;
    animation: orbit 29.3s linear infinite;
    img{
        top: 2.6em;
        right: 2.6em;
        width: 2em;
        height: 2em;
        animation: orbit 20s linear infinite; 
    }
}

.venus {
    top: 7.5em;
    left: 2.5em;
    width: 35em;
    height: 35em;
    animation: orbit 75s linear infinite;
    img{
        top: 3.8em;
        right: 3.8em;
        width: 2.4em;
        height: 2.4em;
        animation: orbit 20s linear infinite; 
    }
}

.tierra {
    top: 0em;
    left: -5em;
    width: 50em;
    height: 50em;
    animation: orbit 121.6s linear infinite; 
    img{
        top: 5.7em;
        right: 5.7em;
        width: 3em;
        height: 3em;
        animation: orbit 20s linear infinite; 
    }
}

.luna {
    top: 3.7em;
    right: 3.7em;
    width: 7em;
    height: 7em;
    animation: orbit 20s linear infinite; 
    img{
        top: 0.1em;
        right: 0.7em;
        width: 1.2em;
        height: 1.2em;
        background-color: silver;
        animation: orbit 20s linear infinite; 
    }
}

.marte {
    top: -6em;
    left: -11em;
    width: 62.5em;
    height: 62.5em;
    animation: orbit 75s linear infinite;
    img{
        top: 7.8em;
        right: 7.8em;
        width: 2.5em;
        height: 2.5em;
        animation: orbit 20s linear infinite; 
    }
}

.jupiter {
    top: -12em;
    left: -17em;
    width: 75em;
    height: 75em;
    animation: orbit 75s linear infinite;
    img{
        top: 9em;
        right: 9em;
        width: 5em;
        height: 5em;
        animation: orbit 20s linear infinite; 
    }
}

.saturno {
    top: -19em;
    left: -25em;
    width: 90em;
    height: 90em;
    animation: orbit 75s linear infinite;
    img{
        top: 10em;
        right: 10em;
        width: 4em;
        height: 4em;
        animation: orbit 20s linear infinite; 
    }
    div{
        top: 8.05em;
        right: 8.05em;
        width: 7em;
        height: 7em;
        border-width: 1em 1em 1em 1em;
        border-color: silver;
    }
}

.urano {
    top: -29em;
    left: -35em;
    width: 110em;
    height: 110em;
    animation: orbit 75s linear infinite;
    img{
        top: 9em;
        right: 9em;
        width: 4em;
        height: 4em;
        animation: orbit 20s linear infinite; 
    }
}

.neptuno {
    top: -12em;
    left: -17em;
    width: 75em;
    height: 75em;
    animation: orbit 75s linear infinite;
    img{
        top: 9em;
        right: 9em;
        width: 5em;
        height: 5em;
        animation: orbit 20s linear infinite; 
    }
}


@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}

@keyframes planeta {
    to {
        transform: rotate(360deg);
    }
}
