@import 'colors';
@import 'elementos';
header{
    @include navigation;
}
.contenedor-principal{
    @include contenedor-principal
}
.contenedor{
    background-image: linear-gradient(to top, rgb(0, 0, 5), black);
    height: 100%;
    width: 100%;
}
.cont-text{
    padding: 5%;
    color: #fff;
    h5{
        text-align: center;
    }
    @include imagen-scroll;
    position: relative;
    width: 40vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 25px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: #4141414f;
    border: 1.5px solid #ffffff17;
    user-select: none;
    margin: 2% 0% 2% 0%;
    img{
        border-radius: 30px;
    }
}
.cont-img{
    padding-left: 5%;
    padding-right: 5%;
}
.cont-satelite{
    display: block;
    color: #fff;
    height: 100%;
        h1{
            padding-left: 5%;
            padding-top: 1%;
        }
        p{
            padding-left: 5%;
            padding-right: 8%;
            text-align: start;
        }
        h3{
            padding-left: 5%;
            padding-top: 1%;
        }
        h5{
            padding-left: 5%;
            padding-right: 8%;
            text-align: start;
        }
        #tex1{
            padding-left: 3%;
            padding-right: 9%;
            text-align: start;
        }
        #text2{
            padding-left: 3%;
            padding-right: 9%;
            text-align: start;
        }
    @include imagen-scroll;
}

#carouselExampleIndicators{
    display: block;
    padding-top: 1.5%;
    width: 70%;
    @include imagen-scroll;
    img{
        width: 659px;
        height: 843px;
        border-radius: 30px;
    }
}
.cont-text__2{
    display: flex;
    padding: 5%;
    color: #fff;
    h5{
        text-align: center;
        padding-top: 5.4%;
    }
    @include imagen-scroll;
}
footer{
    @include footer;
}