@import 'colors';
@import 'elementos';
header{
    @include navigation;
}
.contenedor-principal{
    @include contenedor-principal
}
.contenedor{
    background-image: linear-gradient(to top, rgb(0, 0, 8), rgb(0, 0, 0));
    height: 100%;
    width: 100%;
}
.cont-text{
    display: flex;
    padding: 5%;
    color: #fff;
    p{
        text-align: center;
        padding-top: 5.4%;
    }

}
.cont-img{
    padding-left: 5%;

}
.cont-satelite{
    display: block;
    color: #fff;
    height: 100%;
        h1{
            padding-left: 5%;
        }
        p{
            padding-left: 5%;
            padding-right: 5%;
            text-align: start;
        }
}