@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #101010; }

/* NAV DE CADA PÁGINA */
#logo-nav {
  width: 75px;
  height: 75px; }

@keyframes titulo-principal {
  0% {
    text-shadow: 0px 0px 50px #ffffff; }
  50% {
    text-shadow: 0px 0px 35px #909090; }
  100% {
    text-shadow: 0px 0px 50px #ffffff; } }

@keyframes mostrarD {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  75% {
    opacity: 0.5;
    transform: translateX(0px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes mostrarI {
  0% {
    opacity: 0;
    transform: translateX(-50px); }
  75% {
    opacity: 0.5;
    transform: translateX(0px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes mostrarA {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  65% {
    opacity: 0.5;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes mostrar {
  from {
    opacity: 0;
    scale: 15%; }
  to {
    opacity: 1;
    scale: 100%; } }

header nav {
  width: 100%;
  height: 75px;
  z-index: 100;
  position: fixed;
  background-color: #101010a6;
  backdrop-filter: blur(5px);
  transition: top 0.3s; }
  header nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly; }
    header nav ul .menu {
      display: none; }
    header nav ul li {
      list-style: none;
      padding: 20px; }
      header nav ul li a {
        border-radius: 1px;
        font-size: 24px;
        color: #ffffff;
        padding: 10px;
        position: relative;
        text-decoration: none;
        transition-duration: 300ms; }
        header nav ul li a::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 4px;
          border-radius: 4px;
          background-color: #9d4edd;
          bottom: 0;
          left: 0;
          transform-origin: right;
          transform: scaleX(0);
          transition: transform .3s ease-in-out; }
        header nav ul li a:hover::before {
          transform-origin: left;
          transform: scaleX(1); }
        header nav ul li a:hover {
          color: #c77dff;
          text-shadow: 0px 0px 5px #c77dff; }

@media screen and (max-width: 768px) {
  header nav {
    width: 768px; }
    header nav ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly; }
      header nav ul .opciones {
        display: none; }
      header nav ul .menu {
        display: block; } }

@media screen and (max-width: 320px) {
  header nav {
    width: 320px; } }

body {
  background-color: #050505; }

.menu_canva .offcanvas-header {
  background-color: #151515; }

.menu_canva .offcanvas-body {
  background-color: #151515; }
  .menu_canva .offcanvas-body ul li {
    list-style: none;
    padding: 20px; }
    .menu_canva .offcanvas-body ul li a {
      border-radius: 1px;
      font-size: 24px;
      color: #ffffff;
      padding: 10px;
      position: relative;
      text-decoration: none;
      transition-duration: 300ms; }
      .menu_canva .offcanvas-body ul li a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #9d4edd;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out; }
      .menu_canva .offcanvas-body ul li a:hover::before {
        transform-origin: left;
        transform: scaleX(1); }
      .menu_canva .offcanvas-body ul li a:hover {
        color: #c77dff;
        text-shadow: 0px 0px 5px #c77dff; }

@media screen and (max-width: 320px) {
  .menu_canva .offcanvas-header {
    width: 320px; }
  .menu_canva .offcanvas-body {
    width: 320px; } }

.contenedor-principal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* TITULO PRINCIPAL */ }
  .contenedor-principal img {
    user-select: none;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: saturate(150%); }
  .contenedor-principal h1 {
    user-select: none;
    z-index: 1;
    opacity: 1;
    font-size: 162px;
    position: absolute;
    color: #ffffff;
    font-family: 'Jura', sans-serif;
    text-shadow: 0px 0px 50px #ffffff;
    animation: titulo-principal 3s linear infinite; }
  @media screen and (max-width: 768px) {
    .contenedor-principal h1 {
      text-align: center;
      font-size: 100px; } }
  @media screen and (max-width: 320px) {
    .contenedor-principal h1 {
      text-align: center;
      font-size: 50px; } }

.contenedor {
  background-color: #101010; }
  .contenedor div h1 {
    color: #ffffff;
    font-size: 24px;
    margin-top: 25px;
    margin-left: 20vw;
    margin-right: 20vw;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: mostrarI;
    animation-range: entry 50% cover 35%;
    animation-fill-mode: both; }
  .contenedor div p {
    color: #cccccc;
    font-size: 18px;
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: justify;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: mostrarD;
    animation-range: entry 50% cover 35%;
    animation-fill-mode: both; }

.contenedor__caja1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-left: 20vw;
  margin-right: 20vw; }
  .contenedor__caja1 .contenedor__caja1__card1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60vh;
    box-shadow: inset 0px 0px 25px #000;
    padding: 20px; }
    .contenedor__caja1 .contenedor__caja1__card1 img {
      width: 100%;
      height: 40%;
      object-fit: cover;
      view-timeline-name: --image;
      view-timeline-axis: block;
      animation-timeline: --image;
      animation-name: mostrarD;
      animation-range: entry 50% cover 35%;
      animation-fill-mode: both;
      border-radius: 5px; }
    .contenedor__caja1 .contenedor__caja1__card1 h1 {
      font-size: 28px;
      width: 100%; }
    .contenedor__caja1 .contenedor__caja1__card1 p {
      width: 100%;
      font-size: 16px;
      height: 200px;
      overflow: hidden; }
  .contenedor__caja1 .contenedor__caja1__card2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60vh;
    box-shadow: inset 0px 0px 25px #000;
    padding: 20px; }
    .contenedor__caja1 .contenedor__caja1__card2 img {
      width: 100%;
      height: 40%;
      object-fit: cover;
      view-timeline-name: --image;
      view-timeline-axis: block;
      animation-timeline: --image;
      animation-name: mostrarD;
      animation-range: entry 50% cover 35%;
      animation-fill-mode: both;
      border-radius: 5px; }
    .contenedor__caja1 .contenedor__caja1__card2 h1 {
      font-size: 28px;
      width: 100%; }
    .contenedor__caja1 .contenedor__caja1__card2 p {
      width: 100%;
      height: 200px;
      overflow: hidden; }
  .contenedor__caja1 .contenedor__caja1__card3 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60vh;
    box-shadow: inset 0px 0px 25px #000;
    padding: 20px; }
    .contenedor__caja1 .contenedor__caja1__card3 img {
      width: 100%;
      height: 40%;
      object-fit: cover;
      view-timeline-name: --image;
      view-timeline-axis: block;
      animation-timeline: --image;
      animation-name: mostrarD;
      animation-range: entry 50% cover 35%;
      animation-fill-mode: both;
      border-radius: 5px; }
    .contenedor__caja1 .contenedor__caja1__card3 h1 {
      font-size: 28px;
      width: 100%; }
    .contenedor__caja1 .contenedor__caja1__card3 p {
      width: 100%;
      height: 200px;
      overflow: hidden; }

footer {
  width: 100%;
  height: 100%; }
  footer .contenedor-footer {
    width: 100%;
    height: 75vh;
    background-color: #101010;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.25fr;
    grid-template-areas: "logo" "caja1" "copyright"; }
    footer .contenedor-footer img {
      grid-area: logo;
      width: 885px;
      height: 280px;
      align-self: center;
      justify-self: center; }
    footer .contenedor-footer #contenedor-footer__caja1 {
      grid-area: caja1;
      display: flex;
      flex-flow: row nowrap;
      align-items: start;
      justify-content: space-evenly; }
      footer .contenedor-footer #contenedor-footer__caja1 div {
        display: flex;
        flex-flow: column nowrap; }
      footer .contenedor-footer #contenedor-footer__caja1 p {
        color: #aaa; }
      footer .contenedor-footer #contenedor-footer__caja1 h2 {
        color: #ffffff;
        font-size: 24px; }
      footer .contenedor-footer #contenedor-footer__caja1 a {
        color: #aaa;
        font-size: 18px;
        text-decoration: none;
        transition-duration: 200ms; }
        footer .contenedor-footer #contenedor-footer__caja1 a:hover {
          color: #ffffff; }
    footer .contenedor-footer #contenedor-footer__copyright {
      margin-top: 25px;
      background-color: #151515;
      grid-area: copyright;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center; }
      footer .contenedor-footer #contenedor-footer__copyright p {
        margin-top: 15px;
        color: #aaa;
        font-size: 18px; }
  @media screen and (max-width: 768px) {
    footer {
      width: 100vw; }
      footer .contenedor-footer {
        height: 180vh;
        flex-flow: column nowrap; }
        footer .contenedor-footer img {
          width: 100vw; }
        footer .contenedor-footer #contenedor-footer__caja1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center; }
          footer .contenedor-footer #contenedor-footer__caja1 div {
            margin-top: 30px; } }
  @media screen and (max-width: 320px) {
    footer {
      width: 100vw; }
      footer .contenedor-footer {
        height: 180vh;
        flex-flow: column nowrap; }
        footer .contenedor-footer img {
          width: 100vw;
          height: 25vh; } }

@media screen and (max-width: 768px) {
  .contenedor-principal h1 {
    font-size: 64px; }
  .contenedor div h1 {
    font-size: 24px;
    margin-top: 25px;
    margin-left: 5vw;
    margin-right: 5vw; }
  .contenedor div p {
    font-size: 18px;
    margin-left: 5vw;
    margin-right: 5vw; }
  .contenedor__caja1 {
    flex-flow: column nowrap;
    margin-left: 5vw;
    margin-right: 5vw;
    align-items: center; }
    .contenedor__caja1 div {
      margin-top: 15px; } }
