* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header{
    box-shadow: 10px #000000;

    nav{
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
    }
}

.navbar {
    background-color: #000000;
}

nav{
    div{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        button i{
            background-color: #000000
        }
    }
}

.contenedor-principal {
    height: 95vh;
    width: 100%;
    div{
        h1{
            font-family: 'Encode Sans', Courier, monospace;
            user-select: none;
            text-shadow: 0px 0px 50px rgba(255, 255, 255, 1);
        }
    }
    
}

#carouselExampleDark{
    width: 100%;
    height: 100%;
    background-color: #000000;
    user-select: none;
    h5{
        color: #ffffff;
        opacity: 0.85;
    }
    p{
        color: #ffffff;
        opacity: 0.75;
    }
    button{
        background-color: #ffffff;
    }
    img{
        height: 95vh;
        object-fit: cover;
        opacity: 0.5;
    }
}

#contenedor-principal__titulo {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100%;
    z-index: 1;
    h1{
        color: #ffffff;
        opacity: 0.75;
        font-size: 128px;
    }
}

.cartas-principales {
    border: none;
    margin-top: 50px;
    border: 2px solid #ccc;
    background-color: #fff;
    transition-duration: 500ms;
    border-radius: 0px;
    box-shadow: 15px 15px 25px 0px rgba(0,0,0,0.25);
    transition-duration: 500ms;
    transform: rotateX(20deg) rotateY(20deg);
    img{
        width: 100%;
        height: 250px;
        border-radius: 0px;
        filter: saturate(250%) grayscale(100%);
        box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.5);
        object-fit: cover;
        transition-duration: 500ms;
        user-select: none;
    }

    &:hover{
        border: 2px solid #252525;
        background-color: #252525;
        transform: rotateX(0deg) rotateY(0deg);
        box-shadow: 15px 15px 25px 0px rgba(0,0,0,0);
        img{
            filter: saturate(250%) grayscale(0%);
            box-shadow: 5px 5px 25px 0px rgba(0,0,0,0);
        }
        h5{
            text-shadow: 5px 5px 10px rgba(0,0,0,0);
            color: #ffffff;
        }
        p{
            text-shadow: 5px 5px 10px  rgba(0,0,0,0);
            color: #ffffff;
        }
    }
    h5{
        transition-duration: 500ms;
        text-shadow: 5px 5px 10px rgba(0,0,0,4);
        user-select: none;
    }
    p{
        transition-duration: 500ms;
        user-select: none;
        text-shadow: 5px 5px 10px  rgba(0,0,0,4);
    }
}

.contenedor-cards{
    a{
        color: #000000;
        text-decoration: none;
    }
}

.contenedor-informacion{
    img{
        border-radius: 20px;
        box-shadow: 5px 0px 50px 0px #252525;
    }
    div{
        text-align: center;
        margin-top: 8vh;
    }
}

#paisajes-txt{
    margin-bottom: 5px;
}

#contenedor-ciencia{
    display: flex;
    flex-direction: row-reverse;
}

.contenedor-informacion__paisajes{
    display: flex;
    height: 35rem;
    gap: 15px;
    div{
        margin-top: 0px;
        flex: 1;
        border-radius: 1rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        transition: all.9s cubic-bezier(.25, .4, .45, 1.4);
        flex-flow: column nowrap;
        margin-left: 0.5%;
        box-shadow: 5px 0px 50px 0px #252525;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            opacity: 0;
            transition: 1s;
            &:hover{
                opacity: 0.75;
                color: #fff;
            }
        }
            
        &:hover{
            flex: 5;
        }
    }
}

.mensaje{
    position: absolute;
}

footer{
    margin: 75px 0px 0px 0px;
    div{
        height: 65vh;
        width: 100%;
    }
}

#footer-titulo{
    background: linear-gradient(180deg, rgba(202, 201, 201, 0) 1%, rgb(96, 96, 96) 75%); 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100%;
    h1{
        color: #000000;
        opacity: 0.75;
        font-size: 128px;
    }
}

#footer-informacion{
    background-color: rgb(96, 96, 96);
    height: 75vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    h2{
        font-size: 24px;
    }
    p{
        font-size: 20px
    }
    img{
        height: 290px;
        width: 195px;
    }
}


/*RESPONSIVE CELULARES*/

@media screen and (max-width: 320px) {

    nav{
        div{
            button i{
                font-size: px;
            }
        }
    }

    #contenedor-principal__titulo{
        h1{
            font-size: 50px;
        }
    }

    #carouselExampleDark{
        width: 100%;
        height: 100%;
        background-color: #000000;
        user-select: none;
        h5{
            color: #ffffff;
            opacity: 0.85;
        }
        p{
            color: #ffffff;
            opacity: 0.75;
        }
        button{
            background-color: #ffffff;
        }
        img{
            height: 95vh;
            object-fit: cover;
            opacity: 0.5;
        }
    }

    .contenedor-informacion{
        div{
            img{
                width: 108%;
                margin: 0px 0px 0px 0px;
            }
        }
    }

    .contenedor-informacion__paisajes{
        height: 95rem;
        width: 98%;
        flex-direction: column;
        position: relative;
        z-index: 1;
        gap: 20px;
        div{
            flex-direction: column;
            margin-left: 0;
            div{
                height: 10vh;
                &:hover{
                    opacity: 0.75;
                    color: #000000;
                }
            }
                
            &:hover{
                flex: 1;
            }
        }
    }

    #contenedor-cultura{
        display: flex;
        flex-direction: column-reverse;
    }

    #footer-titulo{
        position: relative;
        h1{
            font-size: 50px;
        }
    }

    #footer-informacion{
        flex-direction: column-reverse;
    }
}