*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}


header{
    padding: 10px;
}

.navegacion{
    width: 100%;
    background-color: #DDDDDD;
    opacity: 0.7;
    border-radius: 30px;
}

.navegacion__lista{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;  
	justify-content: space-evenly;
}

.navegacion__lista__item{
    display: inline-block;
    padding: 20px;
	position: relative;
	font-size: 20px;
    text-align: center; 
}

.navegacion__lista__item a{
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    transition-duration: 500ms;
    color: #353535;
}

.navegacion__lista__item a:hover{
    text-decoration: none;
    font-weight: bold;
    background-color: #505050;
    border-radius: 25px;
    padding: 15px;
    width: 100%;
    height: 100%;

    color: #fff;
}


.navegacion__lista__logo{
    height: 55px;
    margin: 5px;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.6fr 0.75fr 0.6fr;
    grid-template-areas: 
        "img1 img1 img2 img3"
        "img6 img5 img2 img4"
        "img6 img7 img7 img4"
        "img8 img8 img9 img9"
        "img12 img11 img10 img10"
    ;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.contenedor__imagenes{
    filter: grayscale(100%);
    overflow: hidden;
}

.contenedor__imagenes:hover{
    filter: grayscale(0%);
    transition-duration: 250ms;
}


.contenedor__imagenes div{
    position: absolute;
    background-color: #ffffff1c;
    height: 100%;
    width: 100%;
    transition-duration: 300ms;
    overflow: hidden;
    transform: translateY(101%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.contenedor__imagenes:hover div{
    transform: translateY(0%);
}

.contenedor__imagenes div h1{
    color: #fff;
    background-color: #00000035;
    padding: 25px;
    font-size: 24px;
    border-radius: 3px;
    text-shadow: 3px 3px 3px #2e2e2e;
}
#contenedor__img1{
    grid-area: img1;
}

#contenedor__img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenedor__img2{
    grid-area: img2;
}

#contenedor__img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenedor__img3{
    grid-area: img3;
}

#contenedor__img3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenedor__img4{
    grid-area: img4;
}

#contenedor__img4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenedor__img5{
    grid-area: img5;
}

#contenedor__img5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenedor__img6{
    grid-area: img6;
}

#contenedor__img6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenedor__img7{
    grid-area: img7;
}

#contenedor__img7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contenedor__img8{
    grid-area: img8;
}

#contenedor__img8 img{
    width: 100%;
    height: 100%;;
    object-fit: cover;
}

#contenedor__img9{
    grid-area: img9;
}

#contenedor__img9 img{
    width: 100%;
    height: 100%;;
    object-fit: cover;
}

#contenedor__img10{
    grid-area: img10;
}

#contenedor__img10 img{
    width: 100%;
    height: 100%;;
    object-fit: cover;
}

#contenedor__img11{
    grid-area: img11;
}

#contenedor__img11 img{
    width: 100%;
    height: 100%;;
    object-fit: cover;
}

#contenedor__img12{
    grid-area: img12;
}

#contenedor__img12 img{
    width: 100%;
    height: 100%;;
    object-fit: cover;
}

#contenedor__img13{
    grid-area: img13;
}

#contenedor__img13 img{
    width: 100%;
    height: 100%;;
    object-fit: cover;
}


