*{
	margin: 0;
	padding: 0;
}

nav{
	background-color: black;
}

ul{
	list-style: none;
	font-size: 0;	
	background-color: #151515;
	align-items: center;
}

li{
	display: inline-block;
	width: 20%;
	position: relative;
	font-size: 15px;
	padding: 15px;
}

ul ul{
	display: none;
	position: absolute;
}

ul ul li{
	display: block;
}

ul li:hover ul{
	display: block;
}

li a{
	color: #ffffff;
	text-decoration: none;
}