*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

header{
    box-shadow: 10px #000000;
}

header nav{
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.navbar{
    background-color: #000000;
}

nav div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

nav div button i{
    background-color: #000000;
}


.contenedor-principal{
    height: 95vh;
    width: 100%;
}

.contenedor-principal div h1{
    font-family: 'Encode Sans', Courier, monospace;
    text-shadow: 0px 0px 50px rgba(255,255,255,1);
}

#carouselExampleDark{
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#carouselExampleDark h5{
    color: #ffffff;
    opacity: 0.85;
}

#carouselExampleDark p{
    color: #ffffff;
    opacity: 0.75;
}

#carouselExampleDark button{
    background-color: #ffffff;
}

#carouselExampleDark img{
    height: 95vh;
    object-fit: cover;
    opacity: 0.5;
}

#contenedor-principal__titulo{
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100%;
    z-index: 1;
}

#contenedor-principal__titulo h1{
    color: #ffffff;
    opacity: 0.75;
    font-size: 128px;
}

.card{
    border: none;
    margin-top: 25px;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: #fff;
    transition-duration: 300ms;
}
.card img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    filter: saturate(250%);
    object-fit: cover;
    transition-duration: 300ms;
}

.card:hover{
    border-radius: 25px;
    border: 2px solid #177ed1;
    background-color: #177ed1;
}

.card:hover img{
    border-radius: 25px;    
}

.card h5{
    transition-duration: 250ms;
}

.card:hover h5{
    color: #ffffff;
    transform: rotate(2deg);
}

.card p{
    transition-duration: 250ms;
}

.card:hover p{
    color: #cccccc;
}