*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

header{
    box-shadow: 10px #000000;
}

header nav{
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.navbar{
    background-color: #000000;
}

nav div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.contenedor-principal{
    height: 95vh;
    width: 100%;
}

.contenedor-principal div h1{
    font-family: 'Encode Sans', Courier, monospace;
}

#carouselExampleDark{
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#carouselExampleDark h5{
    color: #ffffff;
    opacity: 0.85;
}

#carouselExampleDark p{
    color: #ffffff;
    opacity: 0.75;
}

#carouselExampleDark button{
    background-color: #ffffff;
}

#carouselExampleDark img{
    height: 95vh;
    object-fit: cover;
    opacity: 0.5;
}

#contenedor-principal__titulo{
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100%;
    z-index: 1;
}

#contenedor-principal__titulo h1{
    color: #ffffff;
    opacity: 0.75;
    font-size: 128px;
}

.contenedor-cartas a{
    text-decoration: none;
    color: #000000
}

.contenedor-cartas{
    margin-top: 15vh;
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "provincias paisajes comida"
        "cultura historia histori"
    ;
    margin-top: 15vh;
    margin-left: 4vw;
    margin-right: 4vw;
}

.card{
    background-color: #ccc;
    width: 100%;
}

.card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#cartas-provincias{
    grid-area: provincias;
}

#cartas-paisajes{
    grid-area: paisajes;
}

#cartas-comida{
    grid-area: comida;
}

#cartas-cultura{
    grid-area: cultura;
}

#cartas-historia{
    grid-area: historia;
}

#cartas-histori{
    grid-area: histori;
}